In [210]:
import pandas as pd
import numpy as np
df=pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [211]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
df = pd.read_csv("weatherAUS.csv")
print("Initial shape:", df.shape)
print(df.info())
print((df.isnull().sum()*100/(df.shape[0])).sort_values())

Initial shape: (145460, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB
None
Date              0.000000
Location          0.000000
MaxTemp           0.866905
MinTemp           1.020899
Temp9am           1.214767
WindSpeed9am      1.214767
Humidity9am       1.824557
WindSpeed3pm      2.105046
Rainfall          2.241853
RainToday         2.241853
RainTomorrow      2.245978
Temp3pm           2.481094
WindDir3pm        2.906641
Humidity3pm       3.098446
WindGustSpeed     7.055548
WindGustDir       7.098859
WindDir9am        7.263853
Pressure3pm      10.331363
Pressure9am      10.356799
Cloud9am         38.421559
Cloud3pm         40.807095
Evaporation      43.166506
Sunshine         48.009762
dtype: float64

In [212]:

threshold = 0.3 
df = df.loc[:, df.isnull().mean() < threshold]
print((df.isnull().sum()*100/(df.shape[0])).sort_values())

Date              0.000000
Location          0.000000
MaxTemp           0.866905
MinTemp           1.020899
Temp9am           1.214767
WindSpeed9am      1.214767
Humidity9am       1.824557
WindSpeed3pm      2.105046
RainToday         2.241853
Rainfall          2.241853
RainTomorrow      2.245978
Temp3pm           2.481094
WindDir3pm        2.906641
Humidity3pm       3.098446
WindGustSpeed     7.055548
WindGustDir       7.098859
WindDir9am        7.263853
Pressure3pm      10.331363
Pressure9am      10.356799
dtype: float64

In [213]:
df = df.dropna(subset=['Pressure9am','Pressure3pm'])
print((df.isnull().sum()*100/(df.shape[0])).sort_values())

Date             0.000000
Location         0.000000
Pressure3pm      0.000000
Pressure9am      0.000000
MaxTemp          0.175154
Temp9am          0.181300
MinTemp          0.213565
WindSpeed9am     0.282705
WindSpeed3pm     0.741333
Humidity9am      0.795108
Temp3pm          1.152330
WindDir3pm       1.280623
RainToday        1.634773
Rainfall         1.634773
RainTomorrow     1.676257
Humidity3pm      1.783807
WindGustSpeed    4.534036
WindGustDir      4.581666
WindDir9am       5.525808
dtype: float64

In [214]:
df=df.fillna(df.median(numeric_only=True))
df=df.dropna()
print((df.isnull().sum()*100/(df.shape[0])).sort_values())

Date             0.0
Temp3pm          0.0
Temp9am          0.0
Pressure3pm      0.0
Pressure9am      0.0
Humidity3pm      0.0
Humidity9am      0.0
WindSpeed3pm     0.0
RainToday        0.0
WindSpeed9am     0.0
WindDir9am       0.0
WindGustSpeed    0.0
WindGustDir      0.0
Rainfall         0.0
MaxTemp          0.0
MinTemp          0.0
Location         0.0
WindDir3pm       0.0
RainTomorrow     0.0
dtype: float64

In [215]:
df.shape

(114547, 19)

In [ ]:


dirs = ['N','NNE','NE','ENE','E','ESE','SE','SSE','S','SSW','SW','WSW','W','WNW','NW','NNW']
dir_to_deg = {d: i*(360/16) for i, d in enumerate(dirs)}

for col in ['WindGustDir', 'WindDir9am', 'WindDir3pm']:
    df[col] = df[col].map(dir_to_deg)
    df[col + '_sin'] = np.sin(np.deg2rad(df[col]))
    df[col + '_cos'] = np.cos(np.deg2rad(df[col]))
    df.drop(col, axis=1, inplace=True)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,Temp9am,Temp3pm,RainToday,RainTomorrow,WindGustDir_sin,WindGustDir_cos,WindDir9am_sin,WindDir9am_cos,WindDir3pm_sin,WindDir3pm_cos
0,2008-12-01,Albury,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,...,16.9,21.8,No,No,-1.000000,-1.836970e-16,-1.000000,-1.836970e-16,-0.923880,3.826834e-01
1,2008-12-02,Albury,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,...,17.2,24.3,No,No,-0.923880,3.826834e-01,-0.382683,9.238795e-01,-0.923880,-3.826834e-01
2,2008-12-03,Albury,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,...,21.0,23.2,No,No,-0.923880,-3.826834e-01,-1.000000,-1.836970e-16,-0.923880,-3.826834e-01
3,2008-12-04,Albury,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,...,18.1,26.5,No,No,0.707107,7.071068e-01,0.707107,-7.071068e-01,1.000000,6.123234e-17
4,2008-12-05,Albury,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,...,17.8,29.7,No,No,-1.000000,-1.836970e-16,0.923880,3.826834e-01,-0.707107,7.071068e-01

In [217]:
df = pd.get_dummies(df, columns=['Location'], prefix='Loc',drop_first=True)
df.head()

,Date,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,...,Loc_Townsville,Loc_Tuggeranong,Loc_Uluru,Loc_WaggaWagga,Loc_Walpole,Loc_Watsonia,Loc_Williamtown,Loc_Witchcliffe,Loc_Wollongong,Loc_Woomera
0,2008-12-01,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,...,False,False,False,False,False,False,False,False,False,False
1,2008-12-02,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,...,False,False,False,False,False,False,False,False,False,False
2,2008-12-03,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,...,False,False,False,False,False,False,False,False,False,False
3,2008-12-04,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,...,False,False,False,False,False,False,False,False,False,False
4,2008-12-05,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,...,False,False,False,False,False,False,False,False,False,False

In [218]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df.head()

,Date,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,...,Loc_Townsville,Loc_Tuggeranong,Loc_Uluru,Loc_WaggaWagga,Loc_Walpole,Loc_Watsonia,Loc_Williamtown,Loc_Witchcliffe,Loc_Wollongong,Loc_Woomera
0,2008-12-01,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,...,False,False,False,False,False,False,False,False,False,False
1,2008-12-02,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,...,False,False,False,False,False,False,False,False,False,False
2,2008-12-03,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,...,False,False,False,False,False,False,False,False,False,False
3,2008-12-04,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,...,False,False,False,False,False,False,False,False,False,False
4,2008-12-05,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,...,False,False,False,False,False,False,False,False,False,False

In [219]:

df['Date'].dt.year.value_counts().sort_index(),df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114547 entries, 0 to 145458
Data columns (total 64 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  114547 non-null  datetime64[ns]
 1   MinTemp               114547 non-null  float64
 2   MaxTemp               114547 non-null  float64
 3   Rainfall              114547 non-null  float64
 4   WindGustSpeed         114547 non-null  float64
 5   WindSpeed9am          114547 non-null  float64
 6   WindSpeed3pm          114547 non-null  float64
 7   Humidity9am           114547 non-null  float64
 8   Humidity3pm           114547 non-null  float64
 9   Pressure9am           114547 non-null  float64
 10  Pressure3pm           114547 non-null  float64
 11  Temp9am               114547 non-null  float64
 12  Temp3pm               114547 non-null  float64
 13  RainToday             114547 non-null  object
 14  RainTomorrow          114547 non-null  object
 15  WindGustDir_sin       114547 non-null  float64
 16  WindGustDir_cos       114547 non-null  float64
 17  WindDir9am_sin        114547 non-null  float64
 18  WindDir9am_cos        114547 non-null  float64
 19  WindDir3pm_sin        114547 non-null  float64
 20  WindDir3pm_cos        114547 non-null  float64
 21  Loc_Albury            114547 non-null  bool
 22  Loc_AliceSprings      114547 non-null  bool
 23  Loc_BadgerysCreek     114547 non-null  bool
 24  Loc_Ballarat          114547 non-null  bool
 25  Loc_Bendigo           114547 non-null  bool
 26  Loc_Brisbane          114547 non-null  bool
 27  Loc_Cairns            114547 non-null  bool
 28  Loc_Canberra          114547 non-null  bool
 29  Loc_Cobar             114547 non-null  bool
 30  Loc_CoffsHarbour      114547 non-null  bool
 31  Loc_Dartmoor          114547 non-null  bool
 32  Loc_Darwin            114547 non-null  bool
 33  Loc_GoldCoast         114547 non-null  bool
 34  Loc_Hobart            114547 non-null  bool
 35  Loc_Katherine         114547 non-null  bool
 36  Loc_Launceston        114547 non-null  bool
 37  Loc_Melbourne         114547 non-null  bool
 38  Loc_MelbourneAirport  114547 non-null  bool
 39  Loc_Mildura           114547 non-null  bool
 40  Loc_Moree             114547 non-null  bool
 41  Loc_MountGambier      114547 non-null  bool
 42  Loc_Nhil              114547 non-null  bool
 43  Loc_NorahHead         114547 non-null  bool
 44  Loc_NorfolkIsland     114547 non-null  bool
 45  Loc_Nuriootpa         114547 non-null  bool
 46  Loc_PearceRAAF        114547 non-null  bool
 47  Loc_Perth             114547 non-null  bool
 48  Loc_PerthAirport      114547 non-null  bool
 49  Loc_Portland          114547 non-null  bool
 50  Loc_Richmond          114547 non-null  bool
 51  Loc_Sale              114547 non-null  bool
 52  Loc_Sydney            114547 non-null  bool
 53  Loc_SydneyAirport     114547 non-null  bool
 54  Loc_Townsville        114547 non-null  bool
 55  Loc_Tuggeranong       114547 non-null  bool
 56  Loc_Uluru             114547 non-null  bool
 57  Loc_WaggaWagga        114547 non-null  bool
 58  Loc_Walpole           114547 non-null  bool
 59  Loc_Watsonia          114547 non-null  bool
 60  Loc_Williamtown       114547 non-null  bool
 61  Loc_Witchcliffe       114547 non-null  bool
 62  Loc_Wollongong        114547 non-null  bool
 63  Loc_Woomera           114547 non-null  bool
dtypes: bool(43), datetime64[ns](1), float64(18), object(2)
memory usage: 23.9+ MB

(Date
 2007       61
 2008     1692
 2009    13197
 2010    13085
 2011    12129
 2012    12274
 2013    13290
 2014    13906
 2015    13842
 2016    14272
 2017     6799
 Name: count, dtype: int64,
 None)

In [ ]:
from sklearn.preprocessing import StandardScaler
exclude_cols = ['Date', 'RainToday', 'RainTomorrow']
exclude_cols += [col for col in df.columns if col.endswith(('_sin', '_cos'))]
exclude_cols += list(df.select_dtypes(include='bool').columns)

num_cols = df.select_dtypes(include=['float64', 'int32']).columns.difference(exclude_cols)

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

print("Scaled columns:", list(num_cols))
print(df[num_cols].describe().round(2))

Scaled columns: ['Humidity3pm', 'Humidity9am', 'MaxTemp', 'MinTemp', 'Pressure3pm', 'Pressure9am', 'Rainfall', 'Temp3pm', 'Temp9am', 'WindGustSpeed', 'WindSpeed3pm', 'WindSpeed9am']
       Humidity3pm  Humidity9am    MaxTemp    MinTemp  Pressure3pm  \
count    114547.00    114547.00  114547.00  114547.00    114547.00
mean          0.00         0.00       0.00       0.00        -0.00
std           1.00         1.00       1.00       1.00         1.00
min          -2.45        -3.58      -3.00      -3.33        -5.44
25%          -0.71        -0.60      -0.77      -0.73        -0.68
50%           0.06         0.09      -0.07      -0.05        -0.00
75%           0.69         0.72       0.72       0.73         0.67
max           2.39         1.73       3.47       3.38         3.53

       Pressure9am   Rainfall    Temp3pm    Temp9am  WindGustSpeed  \
count    114547.00  114547.00  114547.00  114547.00      114547.00
mean         -0.00       0.00       0.00       0.00          -0.00
std           1.00       1.00       1.00       1.00           1.00
min          -5.25      -0.28      -2.99      -3.23          -2.54
25%          -0.65      -0.28      -0.75      -0.75          -0.73
50%           0.00      -0.28      -0.09      -0.06          -0.13
75%           0.67      -0.18       0.70       0.72           0.54
max           3.36      42.32       3.60       3.55           7.08

       WindSpeed3pm  WindSpeed9am
count     114547.00     114547.00
mean          -0.00         -0.00
std            1.00          1.00
min           -2.04         -1.58
25%           -0.76         -0.74
50%           -0.05         -0.26
75%            0.53          0.58
max            7.89          8.63

In [221]:
df.head()

,Date,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,...,Loc_Townsville,Loc_Tuggeranong,Loc_Uluru,Loc_WaggaWagga,Loc_Walpole,Loc_Watsonia,Loc_Williamtown,Loc_Witchcliffe,Loc_Wollongong,Loc_Woomera
0,2008-12-01,0.111013,-0.116200,-0.207272,0.242640,0.581655,0.528908,0.191726,-1.389489,-1.379683,...,False,False,False,False,False,False,False,False,False,False
1,2008-12-02,-0.844901,0.196845,-0.276805,0.242640,-1.339394,0.295345,-1.241071,-1.244243,-0.967133,...,False,False,False,False,False,False,False,False,False,False
2,2008-12-03,0.031353,0.282221,-0.276805,0.392956,0.461589,0.762470,-1.559470,-1.002167,-1.393909,...,False,False,False,False,False,False,False,False,False,False
3,2008-12-04,-0.558127,0.609496,-0.276805,-1.260518,-0.498936,-1.222810,-1.188005,-1.679980,0.028677,...,False,False,False,False,False,False,False,False,False,False
4,2008-12-05,0.764221,1.221357,-0.160917,0.017166,-0.979198,0.061783,0.775458,-0.856922,-0.938681,...,False,False,False,False,False,False,False,False,False,False